.video-clipper {
    &__player {
        grid-column: 1 / span 8;
        padding: 10px;

        video {
            height: calc(100vh - 20px);
            width: 100%;
        }
    }

    @media (max-width: 700px) {
        &__player {
            grid-column: 1 / span 12;
        }
    }
}