.video-clipper {
    &__list {
        grid-column: 9 / span 4;
        margin-right: 10px;
        margin-top: 10px;

        &__add-button {
            .MuiButton-fab-48 {
                bottom: 32px;
                position: relative;
                right: 32px;
            }
        }
    }

    @media (max-width: 700px) {
        &__list {
            grid-column: 1 / span 12;
        }
    }
}