.controls {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex: 10%;
    padding: auto 10px;

    &__range {
        grid-column: 1 / span 9;
        margin-left: 10px;
    }

    &__clip-time {
        display: flex;
        grid-column: 10 / span 2;
        justify-content: center;
        padding-top: 15px;
    }

    &__actions {
        display: flex;
        grid-column: 12 / span 1;
    }
}

