.modal-create-video {
    &__content {
        .video-form {
            &__options-inline {
                &__clip, &__video {
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-gap: 10px;

                    &__type {
                        grid-column: 1 / span 2;
                        margin-top: 7px;
                    }
                }

                &__clip {
                    &--start {
                        grid-column: 3 / span 2;
                    }

                    &--end {
                        grid-column: 5 / span 2;
                    }
                }

                &__video {
                    &__duration {
                        grid-column: 3 / span 2;
                    }
                    &__isyoutube {
                        grid-column: 5 / span 2;
                        margin-top: 20px;
                    }
                }

                @media (max-width: 700px) {
                    &__video {
                        &__isyoutube {
                            grid-column: 3 / span 6;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}