html, body {
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
}

.video-clipper {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

div[role=dialog] {
    .modal-content {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);

        .url {
            grid-column: 1 / span 2;
        }
    }
}