$color-active: #2196F3;
$color-main: #673AB7;

.video-clipper__list--item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 5px auto;
    padding: 10px;

    &--active.MuiPaper-root-1 {
        border-left: 3px solid $color-active;
        .video-clipper__list--item {
            &__play-button {
                g {
                    fill: $color-active;
                }
            }
            &__info {
                &__name {
                    color: $color-active;
                }
            }
            &__actions {
                g {
                    fill: $color-active;
                }
            }
        }

    }

    &--is-main.MuiPaper-root-1 {
        border-left: 3px solid $color-main;
        .video-clipper__list--item {
            &__play-button {
                g {
                    fill: $color-main;
                }
            }
            &__info {
                &__name {
                    color: $color-main;
                }
            }
            &__actions {
                g {
                    fill: $color-main;
                }
            }
        }

    }

    &__play-button {
        grid-column: 1 / span 2;

        .MuiSvgIcon-root-10 {
            font-size: 2.5rem;
        }
    }

    &__info {
        align-items: flex-start;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        grid-column: 3 / span 7;
        justify-content: flex-end;

        &__duration {
            color: gray;
            font-size: 0.85rem;
            font-weight: normal;
        }
    }

    &__actions {
        display: flex;
        grid-column: 10 / span 12;
        justify-content: flex-end;

        align-self: center;
        cursor: pointer;

        svg {
            font-size: 1.2rem;
            margin-left: 10px;
        }
    }
}