.video-clipper__list--item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 5px auto;
    padding: 10px;

    &--active.MuiPaper-root-1 {
        border-left: 3px solid #2196F3;
        .video-clipper__list--item {
            &__play-button {
                g {
                    fill: #2196F3;
                }
            }
            &__name {
                color: #2196F3;
            }
            &__actions {
                g {
                    fill: #2196F3;
                }
            }
        }

    }

    &__play-button {
        grid-column: 1 / span 2;

        .MuiSvgIcon-root-10 {
            font-size: 2.5rem;
        }
    }

    &__name {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        grid-column: 3 / span 7;
    }

    &__actions {
        display: flex;
        grid-column: 10 / span 12;
        justify-content: flex-end;

        align-self: center;
        cursor: pointer;

        svg {
            font-size: 1.2rem;
            margin-left: 10px;
        }
    }
}