$padding-controls: 10px;
$top-controls-height: 48px;

.video-clipper {
    &__controls {
        grid-column: 9 / span 4;
        padding: $padding-controls;

        &__add-button {
            .MuiButton-fab-48 {
                bottom: 32px;
                position: relative;
                right: 32px;
            }
        }

        &__list {
            height: calc(100vh - #{$top-controls-height} - 3 * #{$padding-controls});
            margin-top: $padding-controls;
            overflow-y: auto;

            &__nodata {
                align-items: center;
                display: flex;
                height: calc(100vh - #{$top-controls-height} - 3 * #{$padding-controls});
                justify-content: center;
            }
        }
    }

    @media (max-width: 700px) {
        &__controls {
            grid-column: 1 / span 12;
            padding-top: 0;

            &__list {
                height: 50vh;
                margin-top: $padding-controls;

                &__nodata {
                    height: 50vh;
                }
            }
        }
    }
}